@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url(https://i.pinimg.com/236x/d0/75/28/d07528e8f29962a9bc70525b65e7766a.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
